@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">¡Bienvenido a Happy Home!</h1>
    <p class="lead">Hola, Usuario</p>
    <hr class="my-4" />

    <img src="/images/imgprincipal.jpg" alt="Imagen principal" class="img-fluid rounded shadow" style="max-width: 80%; height: auto;" />
    <p>¿Listo para buscar tu próxima estadía perfecta?</p>
    <a class="btn btn-primary btn-lg" href="/Reservaciones/Reservar" role="button">Reservar Ahora</a>

</div>
