@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">¡Bienvenido a Happy Home!</h1>
    <p class="lead">Hola, @ViewBag.UserEmail</p>
    <hr class="my-4" />

    <p>¿Listo para buscar tu próxima estadía perfecta?</p>
    <a class="btn btn-primary btn-lg" href="/Reservaciones/Reservar" role="button">Reservar Ahora</a>
</div>
